 :root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --secondary-text-color: #000000;
    --accent-color: #2196F3;
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #2F303A;
    --tertiary-bg-color:  #F5F4FA;
    --white-color: #ffffff
}

body {
    background-color: var(--primary-white-color);
    color var(--primary-text-color);
}

.logo {
    color: var(--secondary-text-color);
}

.logo span {
    color: var(--accent-color);
}

/*Site nav*/

.site-nav .link.current {
    color: var(--accent-color);
}
 
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--primary-text-color);
}

.site-nav .link {
    color:  var(--primary-text-color);
}

.list {
    list-style: none;
}

.contacts .link {
    color: var(--accent-color)
}

.contacts .number {
    color: var(--title-text-color);
}

/* Hero */

.hero {
    background-color:var(--secondary-bg-color) ;
}

.hero-title {
    color: var(--white-color)
}

.button {
    background-color: var(--accent-color);
}
.button.primary {
    color: var(--white-color);  
}

/* Feature */

.feature-list .title {
    color: var(--primary-text-color)
}

.text {
    color: var(--title-text-color)
}

/* Exampel */

.section-title {
    color: var(--primary-text-color)
}

/* Teams */

.section .cards-list{
    background-color: var(--tertiary-bg-color);
}

/* Footer */

.page-footer {
    background-color: var(--secondary-bg-color);
}

.inscription {
    color: var(--white-color);
}

.inscription span {
    color: var(--accent-color) ;
}
 






/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF  */
/* цвета фона вторичный #2F303A; #F5F4FA; 
/* основной цвет фона #F5F5F5; */
/* цвет акцент #2196F3

